#start-topic, #start-topic-title {
    margin-top: 1.5vh;
    resize: none;
    border: none;
    background-color: transparent;
    width: 100%;
}
#start-topic {
    flex: 1;
}
#start-topic-title {
    height: 2rem;
    border-bottom: 0.05vh solid #53593D;
    font-size: 1.5rem;
}
#start-topic:focus, #start-topic-title:focus {
    outline: none;
    box-shadow: none;
}
#mainsection::-webkit-scrollbar {
    display: none;
}
.topico {
    margin-bottom: 2vh;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    padding: 1.5vh 1vw;
}
#type {
    height: 19rem;
}