/*  =======================================
    --------------- GENERAL --------------- 
    ======================================= */

/* --------------- FONTS --------------- */

@font-face {
    font-family: minecraft;
    src: url("fonts/Minecraft.ttf");
}
@font-face {
    font-family: crimson;
    src: url("fonts/Crimson/CrimsonText-Regular.ttf");
}

body {
    background-color: #f5f0df;
    height: 100vh;
    overflow: hidden;
}
* {
    font-family: crimson;
}
h2 {
    box-shadow: o 10px 20px;
    color: #BF6A39;
}
nav {
    display: flex;
    gap: 10vw;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.1vh;
}
nav, main, footer {
    padding: 0% 5%;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #F2B441;
}
main {
    display: flex;
    justify-content: space-between;
}

/* --------------- SPECIFIC --------------- */

#littlestar {
    padding-top: 30px;
    height: 20px;
    width: 20px;
    transform: translateX(-10vw);
}

#something, #something2 {
    padding-top: 3vh;
    width: 20%;
}

#mainsection {
    padding-top: 3vh;
    width: 50%;
}
/*
#forum::-webkit-scrollbar {
    display: none;
}
*/

#mainsection, #something, #something2 {
    height: 85vh;
}

#forum {
    height: calc(85vh - 50px);
    overflow: auto;
}
#forum::-webkit-scrollbar {
    display: none;
}
#forum div {
    padding: 0% 2%;
    margin-bottom: 2vh;

    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
}